* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
    min-height: 100vh;
}

/* HEADER */
.top {
    text-align: center;
    padding: 50px 20px;
}

.top h1 {
    font-size: 42px;
}

.top p {
    color: #94a3b8;
}

/* TITLE */
.title {
    text-align: center;
    margin: 20px 0;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

/* CARDS */
.card {
    text-decoration: none;
    color: white;
    padding: 25px;
    border-radius: 16px;
    transition: 0.3s;
    display: block;
}

.card:hover {
    transform: translateY(-8px);
}

/* COLORS */
.blue { background: linear-gradient(135deg,   #f0fd0092, #f6fc88); }
.green { background: linear-gradient(135deg, #ff428e, #ffabcc); }
.purple { background: linear-gradient(135deg, #0077ff, #a5cfff); }

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #64748b;
}